/* Estilos personalizados para la página de Artistas */

/* Estilos para el título principal */
.container h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'https://bootswatch.com/5/cyborg/bootstrap.min.css';
}

/* Estilos para las tarjetas de artistas */
.card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'https://bootswatch.com/5/cyborg/bootstrap.min.css';
    color:white;
}

.card-text {
    font-size: 18px;
    color: #f8f9fa;
    font-family: 'https://bootswatch.com/5/cyborg/bootstrap.min.css';
    text-align: left;
}

.card-img-top {
    max-height: 300px;
    object-fit: cover;
}

/* Estilos para el formulario de búsqueda */
#searchInput {
    border-radius: 25px;
}

/* Estilos para el botón de búsqueda */
.form-control + .btn-primary {
    border-radius: 25px;
}

/* Estilos para el pie de página */
footer {
    background-color:none;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
    color: #f8f9fa;
}

/* Ajustar márgenes para dispositivos pequeños */
@media (max-width: 768px) {
    .container {
        margin-top: 50px;
    }
}

.btn-primary {
    background-color: #e83283;
    border-color: #e83283;
}

.rounded-start{
    border-bottom-left-radius: var(--bs-border-radius)!important;
}

.img-fluid{
   min-height: 100%;
   min-width: 10rem;
}

.card-body{
    padding: 30px;
   
}

.img{
    vertical-align: text-top;
}

/* Estilo personalizado para las tarjetas de los artistas */
.artist-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.artist-info {
    flex: 1;
    padding: 20px;
}

.artist-image {
    max-width: 100%;
    height: auto;
}
